.examples {
  position: absolute;
  top: 0;
  left: 0;
}

@media (min-width: 200px) {
  .examples {
    display: none;
  }
}

@media (min-width: 600px) {
  .examples {
    display: none;
  }
}

@media (min-width: 1000px) {
  .examples {
    display: block;
  }
}

.custom-navbar {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.5rem;
  width: 100%;
}
